/* Modal form */
.form_wrapper,
.modal_success {
    display: none;    
    align-items: center;
    justify-content: center;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(26, 39, 156, 0.4);
}

.form_wrapper_content,
.modal_content{
    width: 95%;
    border-radius: 10px;
    background: var(--dark-light);
    color: var(--light);
    animation: modalopen .4s ease-in-out;
}

.form_wrapper_content {
    position: relative;
    padding: 40px 40px 20px;
    max-width: 500px;
}

.modal_content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding: 40px;
    max-width: 600px;
}

.modal_content h2{
    text-align: center;
    font-size: clamp(2.5rem, 4vw, 3.5rem);
    font-weight: 100;
    font-family: "DMSans-Regular", sans-serif;
}

.form_data {
    margin-bottom: 5px;
}

label, .text-label{
    margin-bottom: 10px;
    font-size: clamp(1.4rem, 1.5vw, 1.6rem);
    font-family: "DMSans-Regular", sans-serif;
}

label {
    display: inline-block;
}

input.input_modal {
    padding: 8px;
    border-radius: 8px;
    font-size: clamp(1.2rem, 1.4vw, 1.4rem);
    height: clamp(40px, 5vw, 50px);
    width: 100%;
    max-width: 500px;
    box-sizing: border-box;
    outline: none;
    border: 0.8px solid #ccc;
    font-family: "DMSans-Regular", sans-serif;
}

.form_data[data-error]::after {
    content: attr(data-error);
    font-size: clamp(1rem, 1.2vw, 1.2rem);
    color: var(--red-highlight);
    display: block;
    margin-top: 7px;
    margin-bottom: 7px;
    line-height: 1;
    opacity: 0;
    transition: 0.3s;
    font-family: "Roboto", sans-serif;
}

.form_data[data-error-visible="true"]::after {
    opacity: 1;
}

.form_data[data-error-visible="true"] .text-control {
    border: 2px solid var(--red-highlight);
}

.checkbox-label,
.checkbox2-label {
    position: relative;
    margin-left: 36px;
    font-size: clamp(1.2rem, 1.3vw, 1.4rem);
    cursor: pointer
}

.checkbox-label .checkbox-icon,
.checkbox2-label .checkbox-icon {
    display: block;
    width: 20px;
    height: 20px;
    border: 2px solid #279e7a;
    border-radius: 50%;
    text-indent: 29px;
    white-space: nowrap;
    position: absolute;
    left: -30px;
    top: 50%;
    transform: translateY(-50%);
    transition: 0.3s;
}

.checkbox-label .checkbox-icon::after,
.checkbox2-label .checkbox-icon::after {
    content: "";
    width: 13px;
    height: 13px;
    background-color: #279e7a;
    border-radius: 50%;
    text-indent: 29px;
    white-space: nowrap;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: 0.3s;
    opacity: 0;
}

.checkbox-input {
    display: none;
}

.checkbox-input:checked + .checkbox-label .checkbox-icon::after,
.checkbox-input:checked + .checkbox2-label .checkbox-icon::after {
    opacity: 1;
}

.checkbox-input:checked + .checkbox2-label .checkbox-icon {
    background: #279e7a;
}

.checkbox2-label .checkbox-icon {
    border-radius: 4px;
    border: 0;
    background: #c4c4c4;
}

.checkbox2-label .checkbox-icon::after {
    width: 7px;
    height: 4px;
    border-radius: 2px;
    background: transparent;
    border: 2px solid transparent;
    border-bottom-color: var(--light);
    border-left-color: var(--light);
    transform: rotate(-55deg);
    left: 21%;
    top: 19%;
}

.btn-close {
    position: absolute;
    right: 15px;
    top: 15px;
    width: 32px;
    height: 32px;
    opacity: 1;
    cursor: pointer;
    transform: scale(0.7);
}

.btn-close::before,
.btn-close::after {
    position: absolute;
    left: 15px;
    content: " ";
    height: 33px;
    width: 3px;
    background-color: var(--light);
}

.btn-close::before {
    transform: rotate(45deg);
}

.btn-close::after {
    transform: rotate(-45deg);
}

/* ***************** */
.btn, .btn2, .btn_close_modal {
  
  border-radius: 10px;
  outline: none;
  border: none;
  cursor: pointer;
  padding: 15px 0;
  font-size: clamp(1.8rem, 2.2vw, 2rem);
  color: var(--light);
  background: var(--green-highlight);
  font-family: "DMSans-Medium", sans-serif;
}

.btn{
    min-width: 7rem;
    width: 10%;

}

.btn2{
    min-width: 15rem;
    width: 20%;
}

.btn_close_modal{
    min-width: 15rem;
    width: 20%;
}

.fa-bars {
    color :var(--green-highlight); 
}



.btn:hover,
.btn:focus {
  background: var(--blue-highlight);
  color : white;
}


.btn_signup{
  text-transform: capitalize;
}

.btn_submit {
  display: block;
  margin: 0 auto;
}

.btn_submit2 {
    display: block;
    margin: 0 auto;
  }

/* Style the arrow inside the select element: */
.select-selected:after {
  position: absolute;
  content: "";
  top: 10px;
  right: 13px;
  width: 11px;
  height: 11px;
  border: 3px solid transparent;
  border-bottom-color: var(--red-highlight);
  border-left-color: var(--red-highlight);
  transform: rotate(-48deg);
  border-radius: 5px 0 5px 0;
}

/* Point the arrow upwards when the select box is open (active): */
.select-selected.select-arrow-active:after {
  transform: rotate(135deg);
  top: 13px;
}

.select-items div,
.select-selected {
  color: var(--dark);
  padding: 11px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
  border-radius: 8px;
  height: 48px;
}

/* Style items (options): */
.select-items {
  position: absolute;
  background-color: var(--light);
  top: 89%;
  left: 0;
  right: 0;
  z-index: 99;
}
/* Hide the items when the select box is btn-closed: */
.select-hide {
  display: none;
}

.select-items div:hover,
.same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}
/* Animation */

@keyframes modalopen {
  from {
      opacity: 0;
      transform: translateY(-150px);
  }

  to {
      opacity: 1;
  }
}